:root {
	--base-color-deg: 140deg;
	--primary-color: hsla(var(--base-color-deg), 80%, 70%, 1);

	--surface-0: hsla(var(--base-color-deg), 10%, 15%, 1);
	--surface-1: hsla(var(--base-color-deg), 15%, 20%, 1);
	--surface-2: hsla(var(--base-color-deg), 20%, 30%, 1);
	--surface-3: hsla(var(--base-color-deg), 30%, 40%, 1);
	--surface-4: hsla(var(--base-color-deg), 40%, 50%, 1);
	--surface-5: hsla(var(--base-color-deg), 50%, 60%, 1);

	--secondary-color-deg: calc(var(--base-color-deg) - 180deg);
	--secondary-color: hsla(var(--secondary-color-deg), 90%, 80%, 1);
	--secondary-0: hsla(var(--secondary-color-deg), 10%, 25%, 1);
	--secondary-1: hsla(var(--secondary-color-deg), 15%, 20%, 1);
	--secondary-2: hsla(var(--secondary-color-deg), 20%, 30%, 1);
	--secondary-3: hsla(var(--secondary-color-deg), 30%, 40%, 1);
	--secondary-4: hsla(var(--secondary-color-deg), 40%, 50%, 1);
	--secondary-5: hsla(var(--secondary-color-deg), 50%, 60%, 1);
}

:root.dark {
	--primary-color: black;
}

html,
body {
	background-color: var(--surface-0);
}

.demo-square {
	width: 180px;
	aspect-ratio: 1/1;
	border-radius: 8px;
}

.surface-secondary {
	background-color: var(--secondary-color);
}
.surface-1 {
	background-color: var(--surface-1);
}
.surface-2 {
	background-color: var(--surface-2);
}
.surface-3 {
	background-color: var(--surface-3);
}
.surface-4 {
	background-color: var(--surface-4);
}
.surface-5 {
	background-color: var(--surface-5);
}
.secondary-1 {
	background-color: var(--secondary-1);
}
.secondary-2 {
	background-color: var(--secondary-2);
}
.secondary-3 {
	background-color: var(--secondary-3);
}
.secondary-4 {
	background-color: var(--secondary-4);
}
.secondary-5 {
	background-color: var(--secondary-5);
}
